@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');
/* global styling */

html, body {
    overflow-x: hidden;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", 'Roboto', Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

a {
    text-decoration: none;
    color: rgb(7, 163, 129);
}

a:hover {
    color: #000;
}

.btn:focus {
    outline: none;
    box-shadow: none;
}

.feature-icon {
    filter: invert(37%) sepia(87%) saturate(440%) hue-rotate(138deg) brightness(97%) contrast(99%);
}

.how-it-works-icon {
    transition: .5s;
    filter: invert(100%) sepia(0%) saturate(1100%) hue-rotate(133deg) brightness(105%) contrast(108%);
}

.icon {
    color: rgb(107, 104, 104)
}

/* navbar */

.navbar-toggler:focus, .navbar-toggler-icon:focus {
    outline: none;
    box-shadow: none;
}

.navbar-brand span {
    font-weight: 700;
}

.navbar-brand img {
    height: 2.5rem;
}

.navbar-nav li {
    padding-right: .7rem;
}

.signup-btn {
    border-radius: 18px;
}

/* hero section */

.form-select {
    border: none;
}

.form-select:focus {
    outline: none;
    box-shadow: none;
}

.underline {
    margin-top: 0rem;
    margin-right: 1rem;
    height: 3px;
}

.rentals {
    border-radius: 10px;
    padding: 2rem;
    width: 30rem;
    margin: 1rem;
}

/* search box */

.search-box {
    max-width: 25rem;
}

.form-control:focus {
    outline: none;
    box-shadow: none;
}

/* vehicle detail page */

.vehicle-attributes span {
    font-size: .8rem;
}

.vehicle-attributes p {
    font-size: 1rem;
    color: rgb(31, 28, 28);
    font-weight: 500;
}

.carousel-indicators [data-bs-target] {
    background-color: #fff;
    width: 10px;
    height: 10px;
    border-radius: 50%;
}

.carousel-indicators .active {
    background-color: rgb(88, 231, 200);
}

.carousel-control-next-icon, .carousel-control-prev-icon {
    background-color: rgb(109, 119, 117);
    border-radius: 5px;
}

/* login/register page */

.login-form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0rem 5rem;
    transition: all 0.2s 0.7s;
    overflow: hidden;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}

.input-field {
    max-width: 380px;
    width: 100%;
    background-color: #f0f0f0;
    margin: 10px 0;
    height: 55px;
    border-radius: 55px;
    display: grid;
    grid-template-columns: 15% 85%;
    padding: 0 0.4rem;
    position: relative;
}

.input-field i {
    text-align: center;
    line-height: 55px;
    color: #acacac;
    transition: 0.5s;
    font-size: 1.1rem;
}

.input-field input {
    background: none;
    outline: none;
    border: none;
    line-height: 1;
    font-weight: 600;
    font-size: 1.1rem;
    color: #333;
}

@media only screen and (max-width: 768px) {
    .rentals {
        padding: 3px;
    }
}

/*============ BOOTSTRAP BREAK POINTS:


Small (sm) devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

Medium (md) devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

Large (lg) devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

Extra (xl) large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }

=============*/

/* how it works section */

.htwDashedLine {
    position: absolute;
    margin: 45px 80px 0 100px;
    width: 65%;
    z-index: -1;
    border: 6px dotted #000;
    border-style: none none dotted;
    color: #fff;
    background-color: #fff;
}

.how-it-works-icon-background {
    transition: .5s;
    padding: 1rem;
    border-radius: 50%;
    width: 90px;
    height: 90px;
    background: rgb(7, 163, 129);
    margin: 0 auto;
}

.how-it-works-icon-background:hover .how-it-works-icon {
    filter: invert(10%) sepia(11%) saturate(704%) hue-rotate(169deg) brightness(102%) contrast(90%);
}

.how-it-works-icon-background:hover {
    transform: scale(.9);
    box-shadow: 0 0 60px 30px #fff, /* inner white */
    0 0 40px 7px rgb(47, 40, 47), /* middle magenta */
    0 0 40px 7px rgb(6, 245, 245);
    /* outer cyan */
}

/* fixed background image */

.fixed {
    background-image: url('/assets/images/car-bg.jpg');
    z-index: -1;
}

.dark {
    background-color: rgba(0, 0, 0, 0.75);
    color: white;
    padding: 7rem 2rem;
}

.fixed-background h3 {
    margin-bottom: 2rem;
    margin-top: 2rem;
}

.fixed-background {
    position: relative;
    width: 100%;
}

.fixed-wrap {
    clip: rect(0, auto, auto, 0);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -999!important;
}

.fixed {
    position: fixed;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center center;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    will-change: transform;
}

.btn-lg {
    border-width: medium;
    border-radius: 0;
    padding: .6rem 1.3rem;
    font-size: 1.1rem;
}

/* video section */

video {
    width: 100%;
    /* max-height: 700px; */
}

.video-container {
    position: relative;
}

.video-container video {
    position: relative;
    z-index: 0;
}
